* {
		box-sizing: border-box;
		margin: 0;
		padding: 0;
		background-color: #96BFD9;
		font-family: 'Arial', Helvetica, sans-serif;w
}

body {
		height: 100vh;
}

h1 {
		text-align: center;
		color: white;
		text-shadow: 2px 2px 2px black;
		padding: 50px 0px;
}

div.line {
		text-align: center;
}

div.square {
		border: 2px solid black;
		width: 166px;
		height: 166px;
		display: inline-block;
}

div.top-left {
		border-top-left-radius: 50px;
}

div.top-right {
		border-top-right-radius: 50px;
}

div.bottom-left {
		border-bottom-left-radius: 50px;
}

div.bottom-right {
		border-bottom-right-radius: 50px;
}

/* Imagens */

#s1 {
		background-image: url('../img/1.jpeg');
}

#s2 {
		background-image: url('../img/2.jpeg');
}

#s3 {
		background-image: url('../img/3.jpeg');
}

#s4 {
		background-image: url('../img/4.jpeg');
}

#s5 {
		background-image: url('../img/5.jpeg');
}

#s6 {
		background-image: url('../img/6.jpeg');
}

#s7 {
		background-image: url('../img/7.jpeg');
}

#s8 {
		background-image: url('../img/8.jpeg');
}

#s9 {
		background-image: url('../img/9.jpeg');
}